.title{
    text-align: start;
}
.name-input{
    display: flex;
    align-items: center;

}

.addBtn{
    display: flex;
}


.count{
    display: flex;
    align-items: center;
    
}

.me{
    display:flex

}
.btn{
display: flex;
align-items: center;
justify-content: center;


}
.NumberOfPackets1{
    padding-left: 155px;
}.NumberOfPackets2{
    padding-left: 150px;
}.NumberOfPackets3{
    padding-left: 145px;
}
.NumberOfPackets4{
    padding-left: 100px;
}

