.title{
    text-align: start;
}
.name-input{
    display: flex;
    align-items: center;

}

.addBtn{
    display: flex;
}


.count{
    display: flex;
    align-items: center;
    
}

.me{
    display:flex

}
.btn{
display: flex;
align-items: center;
justify-content: center;


}


